﻿@page
@model EvaluacionesTerrenoPyB.Models.OperadorModel

@{
    ViewData["Title"] = "Operador";
}

<h1>Operador</h1>

<h4>Operador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Operador.Nombres" class="control-label"></label>
                <input asp-for="Operador.Nombres" class="form-control" />
                <span asp-validation-for="Operador.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Apellidos" class="control-label"></label>
                <input asp-for="Operador.Apellidos" class="form-control" />
                <span asp-validation-for="Operador.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.NombreCompleto" class="control-label"></label>
                <input asp-for="Operador.NombreCompleto" class="form-control" />
                <span asp-validation-for="Operador.NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Codigo" class="control-label"></label>
                <input asp-for="Operador.Codigo" class="form-control" />
                <span asp-validation-for="Operador.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Flota" class="control-label"></label>
                <input asp-for="Operador.Flota" class="form-control" />
                <span asp-validation-for="Operador.Flota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.FechaCreado" class="control-label"></label>
                <input asp-for="Operador.FechaCreado" class="form-control" />
                <span asp-validation-for="Operador.FechaCreado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.FechaModificado" class="control-label"></label>
                <input asp-for="Operador.FechaModificado" class="form-control" />
                <span asp-validation-for="Operador.FechaModificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
